<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Iniciar sesión</h2>
            <div class="form-group">
                <label for="idNumber">Documento de identidad</label>
                <input type="text" id="idNumber" class="form-control" [(ngModel)]="idNumber" placeholder="Ingrese su documento de identidad">
            </div>
            <div class="form-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Ingrese su contraseña">
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-primary btn-block" (click)="validateCredentials()">Iniciar sesión</button>
            </div>
            <div class="alert alert-danger mt-3" *ngIf="showError">
                Error. Verifique los datos ingresados
            </div>
        </div>
    </div>
</div>
